<div class="cart-wrapper" *ngIf="(cartData.cartItems.length > 0); else emptyMessage">
    <app-shopping-card class="app-shopping-card" *ngFor="let cartItem of cartData.cartItems;" [cartItem]="cartItem"
        (disableEnableCheckout)="disableEnableCheckout($event)">
    </app-shopping-card>
    <mat-divider></mat-divider>
    <label>
        Total coast:
    </label>
    <div class="cost">
        {{ cartData.totalSum }}
    </div>
    <button class="checkout-button default-button" mat-button [disabled]="isCheckout"
        [routerLink]="['/checkout']">Checkout</button>
</div>
<ng-template #emptyMessage>
    <span class="cart-empty-message">
        There are no items in cart.
    </span>
</ng-template>