.mat-card {
  box-shadow: none;
  padding-bottom: 55px;

  .mat-card-title {
    text-align: center;
    font-weight: 500;
  }

  img {
    width: 100%;
    margin: 20px 0;
  }

  .mat-card-actions {
    padding: 10px;
    position: relative;

    .amount-spin {
      display: inline-block;
      width: 105px;

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
  
      label { 
        display: flex;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
      }
    }

    .cost-rating-container {
      display: inline-block;
      position: absolute;
      right: 0;
      padding-right: 10px;
    
      .cost {
        font-size: 18px;
        font-weight: 600;
        float: right;
        margin-right: 15px;
        margin-bottom: 10px;
      }

      ngb-rating {
        color: #ffa500;
        font-size: 32px;
      }
    }

    .add-cart-button {
      width: 100%;
      margin-top: 30px;
    }
  }
}