<mat-card>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <img src={{product.image}}
        alt={{product.imageAlt}}>
    <mat-card-content>
        <p>{{ product.description }}</p>

    </mat-card-content>
    <mat-card-actions>
        <div class="amount-spin">
            <label>Amount:</label>
            <input matInput type="number" [(ngModel)]="count" (keyup)="disableEnableAddToCart()"
                oninput="(validity.valid)||(value='');" [min]="minAmount" [max]="maxAmount" name="amount">
        </div>
        <div class="cost-rating-container">
            <div class="cost">{{ product.cost | displayCost }}$</div>
            <div>
                <ngb-rating [max]="maxRating" [(ngModel)]="starRating" [(rate)]="starRating" [readonly]="false"
                    (click)="updateRating()"></ngb-rating>
            </div>
        </div>
        <button class="add-cart-button default-button" mat-button (click)="addToCart()" [disabled]="!isAddToCart">Add to cart</button>
    </mat-card-actions>
</mat-card>