<form [formGroup]="orderForm" (ngSubmit)="onOrder()" class="order-form" novalidate>
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="email" placeholder="email@test.com">
        <span matPrefix>{{ emailPrefix }}</span>
        <mat-error *ngIf="orderForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="orderForm.controls['email'].hasError('pattern')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="confirmEmail" placeholder="email@test.com">
        <span matPrefix>{{ confirmEmailPrefix }}</span>
        <mat-error *ngIf="orderForm.controls['confirmEmail'].hasError('pattern')">
            Confirm email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="orderForm.controls['confirmEmail'].hasError('mismatch')">
            Email not match
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="nameSurname" placeholder="Name Surname">
        <span matPrefix>{{ nameSurnamePrefix }}</span>
        <mat-error *ngIf="orderForm.controls['nameSurname'].hasError('required')">
            Name and Surname are <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="orderForm.controls['nameSurname'].hasError('maxlength')">
            You have more than {{ nameSurnameMax }} characters
        </mat-error>
        <mat-error *ngIf="orderForm.controls['nameSurname'].hasError('pattern')">
            Please enter a valid Name and Surname. You can use <strong>aA-zZ</strong>, <strong>'</strong> and
            "<strong>-</strong>"
        </mat-error>
    </mat-form-field>
    <button class="order-button default-button">{{ buttonText }}</button>
</form>